<form name="contact" action="https://formspree.io/f/xbjnwrqj" method="POST">
  <table>
    <tr><td>Name</td>
    <td><div class="input">
        <input type="text" placeholder="Name" name="name" class="pager_active" required>
    </div></td></tr>
    <tr><td>E-Mail</td>
    <td><div class="input">
        <input type="text" placeholder="E-Mail" name="mail" class="pager_active" required>
    </div></td></tr>
    <tr><td>Nachricht</td>
    <td><div class="input">
        <textarea rows="5" cols="30" placeholder="Nachricht" name="message" class="pager_active" required></textarea>
    </div></td></tr>
  </table>
    <input type="submit" value="Absenden" class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
</form>

